<div class="Container" style="color:whitesmoke; background-color:lightskyblue; padding: 10px;">
    <div class="row">
        <div class="col-md-9">
            <div class="row" style="height:40px; margin:10px;">
                <img class="logo" src="../assets/images/login.jpg" alt="">
                <h1 style="color: black; margin-left: 30px; position: relative; top:-45px; left:40px; font-style: italic;">Pharmacy</h1>
                
            </div>
            
        </div>
        <div class="col-md-3">
            
            <button type="button" [routerLink]="['/about']"  id="login">About</button>
            <button  *ngIf="!_authservice.loggedIn()" [routerLink]="['/login']" id="login">Login</button>
            <button *ngIf="!_authservice.loggedIn()" [routerLink]="['/signup']" id="signup">SignUp</button>
            <button style="cursor: pointer;" *ngIf="_authservice.loggedIn()" (click)=" _authservice.logoutUser()" id="login">LogOut</button>
            
        </div>
    </div>
</div>

<div class="containers" >
    
        <div class="bodyimg" style="background-image: url(../assets/images/home1.jpg); width:100%;
  height:100%; 
  border:5px solid white;
  box-sizing:border-box; background-repeat: no-repeat; ">
            <p>
                “It is <span>easy</span> to get a thousand <span>prescriptions</span>, but <span>hard</span> to get one single
                remedy.”
                <button type="button" [routerLink]="['/user']"
                    style="padding: 5px; width:140px; margin: 10px; position: relative; top:100px;" class="btn btn-primary">Get
                    Started</button>
            </p>
        
        </div>

</div>


<div class="Container" style="color:whitesmoke; text-align: center;  background-color:lightskyblue;  padding: 10px;">
    <footer><span class="text-body"><strong>This site is copyright & copy;to LTI.All rights are reserved
                here..</strong></span></footer>
</div>